/* ESTILIZAÇÕES GERAIS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(10, 10, 10);
  height: 100vh;
}

.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  background-color: rgb(237, 226, 108);
  cursor: pointer;
  transition: .2s;
}

.btn-contato button:hover {
  box-shadow: 0 0 8px rgba(237, 226, 108, 0.657);
  transform: scale(1.05);
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* ESTILIZAÇÕES CABEÇALHO */
header {
  padding: 40px 4%;
}

header .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
}

header a {
  color: rgb(237, 226, 108);
  text-decoration: none;
  display: inline-block;
  transition: .2s;
}

header a:hover {
  color: #ffff;
  transform: scale(1.05);
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 40px;
}

header .logo img {
  max-height: 100px;
}

/* ESTILO TOPO DO SITE */
section .topo-do-site {
  padding: 40px 4%;
}

section .topo-do-site .flex {
  align-items: center;
  justify-content: center;
}

section .txt-topo-site {
  color: rgb(202, 202, 199); 
  margin-top: 125px;
  font-size: 22px;
}

section .txt-topo-site button {
  margin-top: 1.5rem;
  display: inline-block;
}

main .img-topo-site img {
  height: 400px;
  margin: 1.5rem 0 0 12.7rem;
  border-radius: 10%;
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

section .txt-topo-site span {
  color: red;
  font-size: 25px;
}


@keyframes flutuar {
  0%{
    top: 0;
  }
  100%{
    top:30px
  }
}